
body {
  font-family: sans-serif;
  color: #666;
  /* border: 1px solid black; */
}

input {
  padding: 6px 16px;
  border-radius: 8px; 
  border: none;
  /* border: 1px solid black; */
}

button {
  padding: 4px 16px;
  margin: 0px 2px;
  border-radius: 8px;
  border: none;
  /* border: 1px solid black; */
}

button:hover {
  background-color: #79a8a9;
  color: #fff;    /*#ffffffの省略形*/
  cursor: pointer;    /*マウスカーソルの形*/
}   /* hober：カーソルが要素上に乗った時どのような変化を示すか */

.inputArea {
  background-color: #c6e5d9;
  padding: 8px;
  margin: 8px;
  width: 400px;
  height: 30px;
  border-radius: 8px;    /*boderを指定した半径で丸める*/
  /* border: 1px solid black; */
}

.incompleteArea {
  background-color: #fff;
  padding: 8px;
  margin: 8px;
  width: 400px;
  min-height: 200px;  /*最小高さ。要素の高さが動的に変化する場合に有効*/
  border-radius: 8px;
  border: 2px solid #aacfd0;
}

.completeArea {
  background-color: #c9dede;
  padding: 8px;
  margin: 8px;
  width: 400px;
  min-height: 200px;  /*最小高さ。要素の高さが動的に変化する場合に有効*/
  border-radius: 8px;
  border: 2px solid #aacfd0;
}

.title {
  text-align: center;  /*中央寄せ*/
  margin-top: 0px;
  border: none;
  font-weight: bold;  /*太字*/
  /* border: 1px solid black; */
}

.listLow {
  display: flex; /* 要素を横並びに */
  align-items: center;    /* 中央揃え */
  /* border: 1px solid black; */
}

.todoItem {
  margin: 6px;
  /* border: 1px solid black; */
}